.ptn,
.pvn,
.pan {
  padding-top: 0;
}
.ptx,
.pvx,
.pax {
  padding-top: 3px;
}
.pts,
.pvs,
.pas {
  padding-top: 5px;
}
.ptm,
.pvm,
.pam {
  padding-top: 10px;
}
.ptl,
.pvl,
.pal {
  padding-top: 20px;
}
.prn,
.phn,
.pan {
  padding-right: 0;
}
.prx,
.phx,
.pax {
  padding-right: 3px;
}
.prs,
.phs,
.pas {
  padding-right: 5px;
}
.prm,
.phm,
.pam {
  padding-right: 10px;
}
.prl,
.phl,
.pal {
  padding-right: 20px;
}
.pbn,
.pvn,
.pan {
  padding-bottom: 0;
}
.pbx,
.pvx,
.pax {
  padding-bottom: 3px;
}
.pbs,
.pvs,
.pas {
  padding-bottom: 5px;
}
.pbm,
.pvm,
.pam {
  padding-bottom: 10px;
}
.pbl,
.pvl,
.pal {
  padding-bottom: 20px;
}
.pln,
.phn,
.pan {
  padding-left: 0;
}
.plx,
.phx,
.pax {
  padding-left: 3px;
}
.pls,
.phs,
.pas {
  padding-left: 5px;
}
.plm,
.phm,
.pam {
  padding-left: 10px;
}
.pll,
.phl,
.pal {
  padding-left: 20px;
}
.mtn,
.mvn,
.man {
  margin-top: 0;
}
.mtx,
.mvx,
.max {
  margin-top: 3px;
}
.mts,
.mvs,
.mas {
  margin-top: 5px;
}
.mtm,
.mvm,
.mam {
  margin-top: 10px;
}
.mtl,
.mvl,
.mal {
  margin-top: 20px;
}
.mrn,
.mhn,
.man {
  margin-right: 0;
}
.mrx,
.mhx,
.max {
  margin-right: 3px;
}
.mrs,
.mhs,
.mas {
  margin-right: 5px;
}
.mrm,
.mhm,
.mam {
  margin-right: 10px;
}
.mrl,
.mhl,
.mal {
  margin-right: 20px;
}
.mbn,
.mvn,
.man {
  margin-bottom: 0;
}
.mbx,
.mvx,
.max {
  margin-bottom: 3px;
}
.mbs,
.mvs,
.mas {
  margin-bottom: 5px;
}
.mbm,
.mvm,
.mam {
  margin-bottom: 10px;
}
.mbl,
.mvl,
.mal {
  margin-bottom: 20px;
}
.mln,
.mhn,
.man {
  margin-left: 0;
}
.mlx,
.mhx,
.max {
  margin-left: 3px;
}
.mls,
.mhs,
.mas {
  margin-left: 5px;
}
.mlm,
.mhm,
.mam {
  margin-left: 10px;
}
.mll,
.mhl,
.mal {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .ptn-xs,
  .pvn-xs,
  .pan-xs {
    padding-top: 0;
  }
  .ptx-xs,
  .pvx-xs,
  .pax-xs {
    padding-top: 3px;
  }
  .pts-xs,
  .pvs-xs,
  .pas-xs {
    padding-top: 5px;
  }
  .ptm-xs,
  .pvm-xs,
  .pam-xs {
    padding-top: 10px;
  }
  .ptl-xs,
  .pvl-xs,
  .pal-xs {
    padding-top: 20px;
  }
  .prn-xs,
  .phn-xs,
  .pan-xs {
    padding-right: 0;
  }
  .prx-xs,
  .phx-xs,
  .pax-xs {
    padding-right: 3px;
  }
  .prs-xs,
  .phs-xs,
  .pas-xs {
    padding-right: 5px;
  }
  .prm-xs,
  .phm-xs,
  .pam-xs {
    padding-right: 10px;
  }
  .prl-xs,
  .phl-xs,
  .pal-xs {
    padding-right: 20px;
  }
  .pbn-xs,
  .pvn-xs,
  .pan-xs {
    padding-bottom: 0;
  }
  .pbx-xs,
  .pvx-xs,
  .pax-xs {
    padding-bottom: 3px;
  }
  .pbs-xs,
  .pvs-xs,
  .pas-xs {
    padding-bottom: 5px;
  }
  .pbm-xs,
  .pvm-xs,
  .pam-xs {
    padding-bottom: 10px;
  }
  .pbl-xs,
  .pvl-xs,
  .pal-xs {
    padding-bottom: 20px;
  }
  .pln-xs,
  .phn-xs,
  .pan-xs {
    padding-left: 0;
  }
  .plx-xs,
  .phx-xs,
  .pax-xs {
    padding-left: 3px;
  }
  .pls-xs,
  .phs-xs,
  .pas-xs {
    padding-left: 5px;
  }
  .plm-xs,
  .phm-xs,
  .pam-xs {
    padding-left: 10px;
  }
  .pll-xs,
  .phl-xs,
  .pal-xs {
    padding-left: 20px;
  }
  .mtn-xs,
  .mvn-xs,
  .man-xs {
    margin-top: 0;
  }
  .mtx-xs,
  .mvx-xs,
  .max-xs {
    margin-top: 3px;
  }
  .mts-xs,
  .mvs-xs,
  .mas-xs {
    margin-top: 5px;
  }
  .mtm-xs,
  .mvm-xs,
  .mam-xs {
    margin-top: 10px;
  }
  .mtl-xs,
  .mvl-xs,
  .mal-xs {
    margin-top: 20px;
  }
  .mrn-xs,
  .mhn-xs,
  .man-xs {
    margin-right: 0;
  }
  .mrx-xs,
  .mhx-xs,
  .max-xs {
    margin-right: 3px;
  }
  .mrs-xs,
  .mhs-xs,
  .mas-xs {
    margin-right: 5px;
  }
  .mrm-xs,
  .mhm-xs,
  .mam-xs {
    margin-right: 10px;
  }
  .mrl-xs,
  .mhl-xs,
  .mal-xs {
    margin-right: 20px;
  }
  .mbn-xs,
  .mvn-xs,
  .man-xs {
    margin-bottom: 0;
  }
  .mbx-xs,
  .mvx-xs,
  .max-xs {
    margin-bottom: 3px;
  }
  .mbs-xs,
  .mvs-xs,
  .mas-xs {
    margin-bottom: 5px;
  }
  .mbm-xs,
  .mvm-xs,
  .mam-xs {
    margin-bottom: 10px;
  }
  .mbl-xs,
  .mvl-xs,
  .mal-xs {
    margin-bottom: 20px;
  }
  .mln-xs,
  .mhn-xs,
  .man-xs {
    margin-left: 0;
  }
  .mlx-xs,
  .mhx-xs,
  .max-xs {
    margin-left: 3px;
  }
  .mls-xs,
  .mhs-xs,
  .mas-xs {
    margin-left: 5px;
  }
  .mlm-xs,
  .mhm-xs,
  .mam-xs {
    margin-left: 10px;
  }
  .mll-xs,
  .mhl-xs,
  .mal-xs {
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ptn-sm,
  .pvn-sm,
  .pan-sm {
    padding-top: 0;
  }
  .ptx-sm,
  .pvx-sm,
  .pax-sm {
    padding-top: 3px;
  }
  .pts-sm,
  .pvs-sm,
  .pas-sm {
    padding-top: 5px;
  }
  .ptm-sm,
  .pvm-sm,
  .pam-sm {
    padding-top: 10px;
  }
  .ptl-sm,
  .pvl-sm,
  .pal-sm {
    padding-top: 20px;
  }
  .prn-sm,
  .phn-sm,
  .pan-sm {
    padding-right: 0;
  }
  .prx-sm,
  .phx-sm,
  .pax-sm {
    padding-right: 3px;
  }
  .prs-sm,
  .phs-sm,
  .pas-sm {
    padding-right: 5px;
  }
  .prm-sm,
  .phm-sm,
  .pam-sm {
    padding-right: 10px;
  }
  .prl-sm,
  .phl-sm,
  .pal-sm {
    padding-right: 20px;
  }
  .pbn-sm,
  .pvn-sm,
  .pan-sm {
    padding-bottom: 0;
  }
  .pbx-sm,
  .pvx-sm,
  .pax-sm {
    padding-bottom: 3px;
  }
  .pbs-sm,
  .pvs-sm,
  .pas-sm {
    padding-bottom: 5px;
  }
  .pbm-sm,
  .pvm-sm,
  .pam-sm {
    padding-bottom: 10px;
  }
  .pbl-sm,
  .pvl-sm,
  .pal-sm {
    padding-bottom: 20px;
  }
  .pln-sm,
  .phn-sm,
  .pan-sm {
    padding-left: 0;
  }
  .plx-sm,
  .phx-sm,
  .pax-sm {
    padding-left: 3px;
  }
  .pls-sm,
  .phs-sm,
  .pas-sm {
    padding-left: 5px;
  }
  .plm-sm,
  .phm-sm,
  .pam-sm {
    padding-left: 10px;
  }
  .pll-sm,
  .phl-sm,
  .pal-sm {
    padding-left: 20px;
  }
  .mtn-sm,
  .mvn-sm,
  .man-sm {
    margin-top: 0;
  }
  .mtx-sm,
  .mvx-sm,
  .max-sm {
    margin-top: 3px;
  }
  .mts-sm,
  .mvs-sm,
  .mas-sm {
    margin-top: 5px;
  }
  .mtm-sm,
  .mvm-sm,
  .mam-sm {
    margin-top: 10px;
  }
  .mtl-sm,
  .mvl-sm,
  .mal-sm {
    margin-top: 20px;
  }
  .mrn-sm,
  .mhn-sm,
  .man-sm {
    margin-right: 0;
  }
  .mrx-sm,
  .mhx-sm,
  .max-sm {
    margin-right: 3px;
  }
  .mrs-sm,
  .mhs-sm,
  .mas-sm {
    margin-right: 5px;
  }
  .mrm-sm,
  .mhm-sm,
  .mam-sm {
    margin-right: 10px;
  }
  .mrl-sm,
  .mhl-sm,
  .mal-sm {
    margin-right: 20px;
  }
  .mbn-sm,
  .mvn-sm,
  .man-sm {
    margin-bottom: 0;
  }
  .mbx-sm,
  .mvx-sm,
  .max-sm {
    margin-bottom: 3px;
  }
  .mbs-sm,
  .mvs-sm,
  .mas-sm {
    margin-bottom: 5px;
  }
  .mbm-sm,
  .mvm-sm,
  .mam-sm {
    margin-bottom: 10px;
  }
  .mbl-sm,
  .mvl-sm,
  .mal-sm {
    margin-bottom: 20px;
  }
  .mln-sm,
  .mhn-sm,
  .man-sm {
    margin-left: 0;
  }
  .mlx-sm,
  .mhx-sm,
  .max-sm {
    margin-left: 3px;
  }
  .mls-sm,
  .mhs-sm,
  .mas-sm {
    margin-left: 5px;
  }
  .mlm-sm,
  .mhm-sm,
  .mam-sm {
    margin-left: 10px;
  }
  .mll-sm,
  .mhl-sm,
  .mal-sm {
    margin-left: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ptn-sm,
  .pvn-sm,
  .pan-sm {
    padding-top: 0;
  }
  .ptx-sm,
  .pvx-sm,
  .pax-sm {
    padding-top: 3px;
  }
  .pts-sm,
  .pvs-sm,
  .pas-sm {
    padding-top: 5px;
  }
  .ptm-sm,
  .pvm-sm,
  .pam-sm {
    padding-top: 10px;
  }
  .ptl-sm,
  .pvl-sm,
  .pal-sm {
    padding-top: 20px;
  }
  .prn-sm,
  .phn-sm,
  .pan-sm {
    padding-right: 0;
  }
  .prx-sm,
  .phx-sm,
  .pax-sm {
    padding-right: 3px;
  }
  .prs-sm,
  .phs-sm,
  .pas-sm {
    padding-right: 5px;
  }
  .prm-sm,
  .phm-sm,
  .pam-sm {
    padding-right: 10px;
  }
  .prl-sm,
  .phl-sm,
  .pal-sm {
    padding-right: 20px;
  }
  .pbn-sm,
  .pvn-sm,
  .pan-sm {
    padding-bottom: 0;
  }
  .pbx-sm,
  .pvx-sm,
  .pax-sm {
    padding-bottom: 3px;
  }
  .pbs-sm,
  .pvs-sm,
  .pas-sm {
    padding-bottom: 5px;
  }
  .pbm-sm,
  .pvm-sm,
  .pam-sm {
    padding-bottom: 10px;
  }
  .pbl-sm,
  .pvl-sm,
  .pal-sm {
    padding-bottom: 20px;
  }
  .pln-sm,
  .phn-sm,
  .pan-sm {
    padding-left: 0;
  }
  .plx-sm,
  .phx-sm,
  .pax-sm {
    padding-left: 3px;
  }
  .pls-sm,
  .phs-sm,
  .pas-sm {
    padding-left: 5px;
  }
  .plm-sm,
  .phm-sm,
  .pam-sm {
    padding-left: 10px;
  }
  .pll-sm,
  .phl-sm,
  .pal-sm {
    padding-left: 20px;
  }
  .mtn-sm,
  .mvn-sm,
  .man-sm {
    margin-top: 0;
  }
  .mtx-sm,
  .mvx-sm,
  .max-sm {
    margin-top: 3px;
  }
  .mts-sm,
  .mvs-sm,
  .mas-sm {
    margin-top: 5px;
  }
  .mtm-sm,
  .mvm-sm,
  .mam-sm {
    margin-top: 10px;
  }
  .mtl-sm,
  .mvl-sm,
  .mal-sm {
    margin-top: 20px;
  }
  .mrn-sm,
  .mhn-sm,
  .man-sm {
    margin-right: 0;
  }
  .mrx-sm,
  .mhx-sm,
  .max-sm {
    margin-right: 3px;
  }
  .mrs-sm,
  .mhs-sm,
  .mas-sm {
    margin-right: 5px;
  }
  .mrm-sm,
  .mhm-sm,
  .mam-sm {
    margin-right: 10px;
  }
  .mrl-sm,
  .mhl-sm,
  .mal-sm {
    margin-right: 20px;
  }
  .mbn-sm,
  .mvn-sm,
  .man-sm {
    margin-bottom: 0;
  }
  .mbx-sm,
  .mvx-sm,
  .max-sm {
    margin-bottom: 3px;
  }
  .mbs-sm,
  .mvs-sm,
  .mas-sm {
    margin-bottom: 5px;
  }
  .mbm-sm,
  .mvm-sm,
  .mam-sm {
    margin-bottom: 10px;
  }
  .mbl-sm,
  .mvl-sm,
  .mal-sm {
    margin-bottom: 20px;
  }
  .mln-sm,
  .mhn-sm,
  .man-sm {
    margin-left: 0;
  }
  .mlx-sm,
  .mhx-sm,
  .max-sm {
    margin-left: 3px;
  }
  .mls-sm,
  .mhs-sm,
  .mas-sm {
    margin-left: 5px;
  }
  .mlm-sm,
  .mhm-sm,
  .mam-sm {
    margin-left: 10px;
  }
  .mll-sm,
  .mhl-sm,
  .mal-sm {
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .ptn-lg,
  .pvn-lg,
  .pan-lg {
    padding-top: 0;
  }
  .ptx-lg,
  .pvx-lg,
  .pax-lg {
    padding-top: 3px;
  }
  .pts-lg,
  .pvs-lg,
  .pas-lg {
    padding-top: 5px;
  }
  .ptm-lg,
  .pvm-lg,
  .pam-lg {
    padding-top: 10px;
  }
  .ptl-lg,
  .pvl-lg,
  .pal-lg {
    padding-top: 20px;
  }
  .prn-lg,
  .phn-lg,
  .pan-lg {
    padding-right: 0;
  }
  .prx-lg,
  .phx-lg,
  .pax-lg {
    padding-right: 3px;
  }
  .prs-lg,
  .phs-lg,
  .pas-lg {
    padding-right: 5px;
  }
  .prm-lg,
  .phm-lg,
  .pam-lg {
    padding-right: 10px;
  }
  .prl-lg,
  .phl-lg,
  .pal-lg {
    padding-right: 20px;
  }
  .pbn-lg,
  .pvn-lg,
  .pan-lg {
    padding-bottom: 0;
  }
  .pbx-lg,
  .pvx-lg,
  .pax-lg {
    padding-bottom: 3px;
  }
  .pbs-lg,
  .pvs-lg,
  .pas-lg {
    padding-bottom: 5px;
  }
  .pbm-lg,
  .pvm-lg,
  .pam-lg {
    padding-bottom: 10px;
  }
  .pbl-lg,
  .pvl-lg,
  .pal-lg {
    padding-bottom: 20px;
  }
  .pln-lg,
  .phn-lg,
  .pan-lg {
    padding-left: 0;
  }
  .plx-lg,
  .phx-lg,
  .pax-lg {
    padding-left: 3px;
  }
  .pls-lg,
  .phs-lg,
  .pas-lg {
    padding-left: 5px;
  }
  .plm-lg,
  .phm-lg,
  .pam-lg {
    padding-left: 10px;
  }
  .pll-lg,
  .phl-lg,
  .pal-lg {
    padding-left: 20px;
  }
  .mtn-lg,
  .mvn-lg,
  .man-lg {
    margin-top: 0;
  }
  .mtx-lg,
  .mvx-lg,
  .max-lg {
    margin-top: 3px;
  }
  .mts-lg,
  .mvs-lg,
  .mas-lg {
    margin-top: 5px;
  }
  .mtm-lg,
  .mvm-lg,
  .mam-lg {
    margin-top: 10px;
  }
  .mtl-lg,
  .mvl-lg,
  .mal-lg {
    margin-top: 20px;
  }
  .mrn-lg,
  .mhn-lg,
  .man-lg {
    margin-right: 0;
  }
  .mrx-lg,
  .mhx-lg,
  .max-lg {
    margin-right: 3px;
  }
  .mrs-lg,
  .mhs-lg,
  .mas-lg {
    margin-right: 5px;
  }
  .mrm-lg,
  .mhm-lg,
  .mam-lg {
    margin-right: 10px;
  }
  .mrl-lg,
  .mhl-lg,
  .mal-lg {
    margin-right: 20px;
  }
  .mbn-lg,
  .mvn-lg,
  .man-lg {
    margin-bottom: 0;
  }
  .mbx-lg,
  .mvx-lg,
  .max-lg {
    margin-bottom: 3px;
  }
  .mbs-lg,
  .mvs-lg,
  .mas-lg {
    margin-bottom: 5px;
  }
  .mbm-lg,
  .mvm-lg,
  .mam-lg {
    margin-bottom: 10px;
  }
  .mbl-lg,
  .mvl-lg,
  .mal-lg {
    margin-bottom: 20px;
  }
  .mln-lg,
  .mhn-lg,
  .man-lg {
    margin-left: 0;
  }
  .mlx-lg,
  .mhx-lg,
  .max-lg {
    margin-left: 3px;
  }
  .mls-lg,
  .mhs-lg,
  .mas-lg {
    margin-left: 5px;
  }
  .mlm-lg,
  .mhm-lg,
  .mam-lg {
    margin-left: 10px;
  }
  .mll-lg,
  .mhl-lg,
  .mal-lg {
    margin-left: 20px;
  }
}
